.login-container {
  text-align: center;
  margin-top:150px;
}
input {
  margin-top:20px;
  width:60%;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
  padding:8px;
  border-radius:4px;
}
input:focus {
	border-color:dodgerBlue;
}
button {
	padding:12px;
	width:60%;
	background-color:deepskyblue;
	color:white;
	border-radius:4px;
	margin-top:30px;
}
.split {
  height: 100%;
  width: 35%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 0;
  background-image:url("../icons/signup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 65%;
}
.right {
  right: 0;
  background: #fff;
}
select { 
display:inline-block;
width:63%;
    padding: 10px 70px 10px 13px; 
    border: 1px solid #e3e3e3; 
    border-radius: 3px; 
    background-color: #fff; 
    color: #444444; 
    font-size: 12px; 
    appearance: none; 
	-webkit-appearance: none; 
    -moz-appearance: none; 
    margin-top:20px;
} 
select option { 
    padding: 0 4px; 
} 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
  margin-right:150px;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: #428bca;
  cursor:pointer;
}
	