<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>FoodBolt</title>
<link rel="stylesheet" href="css/signup.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

	<div class="split left">
	</div>
        <div class="split right">
        <ul>
		  <li><a onclick="location.href='/login'">Login</a></li>
		  <li><a onclick="location.href='/'">Home</a></li>
		</ul>
          <div class="login-container">
	SIGN UP
<!--  <form method="post">  -->
<form class="modal-content" method="post" th:action="@{Signup}" th:object = ${CustomerDetails}  enctype="multipart/form-data" >
	<input type="text" pattern="[a-zA-Z\s]*$" id="fname" name="first_name" placeholder="First Name" required><br>
	<input type="text" pattern="[a-zA-Z\s]*$" id="lname" name="last_name" placeholder="Last Name" required><br>
	<input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" name="email" placeholder="Email" required><br>
	<input type="password" id="password" name="password" placeholder="Password" required><br>
	<button>Submit</button>
</form>
</div>
</div>
<script type="text/javascript">
function goBack() {
    window.history.back();
}
</script>
</body>
</html>